DATABASE_CLIENT=mongo
DATABASE_HOST=mongo
DATABASE_PORT=27017
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
AUTHENTICATION_DATABASE=strapi
MONGO_INITDB_DATABASE=strapi
MONGO_INITDB_ROOT_USERNAME=strapi
MONGO_INITDB_ROOT_PASSWORD=strapi
DATABASE_URI=mongodb://strapi:strapi@0.0.0.0:27017/strapi?authSource=admin
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:1337
DOMAIN_NAME=localhost.dev